body{
    background: linear-gradient(90deg, rgba(69,27,113,1) 0%, rgba(81,3,147,1) 35%, rgb(86, 27, 131) 100%);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: rgb(107, 79, 170);
}
p{
    font-size: 1.5em;
}
a{
    margin: 2em;
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}